// Styles pour la grille de thèmes
.theme-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
  gap: 20px; /* Espacement entre les cartes */
  width: 95%; /* Largeur de 95% de l'écran */
  margin: 0 auto; /* Centrer la grille horizontalement */
}

.container {
  padding: 2%;
}

.theme-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

button {
  display: block;
  margin: 0 auto;
}

.form-control {
  width: 100%;
}

textarea {
  min-height: 150px;
}

input[type="text"],
textarea,
select {
  border: 1px solid #5f0497;
  border-radius: 5px;
  padding: 8px;
  box-sizing: border-box;
  width: 30%;
}

.Logout {
  color: #ff0000;
}

.theme-card h3 {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.2em;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 50px;
  background-color: #5f0497;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

select {
  background-color: #ffffff;
}

select option[value=""][disabled] {
  color: #848484;
}

.LogoutBtn {
  margin: 2%;
  text-align: center;
}

.Logout {
  cursor: pointer;
}

// Styles pour la version mobile (largeur de l'écran inférieure à 768px)
@media screen and (max-width: 768px) {
  .theme-title {
    display: none; /* Masque le titre "Abonnements" sur les écrans mobiles */
  }

  .theme-grid {
    grid-template-columns: 1fr; /* Sur mobile, une seule colonne */
    width: 100%; /* Utiliser toute la largeur de l'écran sur mobile */
  }

  input[type="text"],
  textarea,
  select {
    width: 90%;
  }
}
