<div class="container">
    <h2>Profile utilisateur</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Changer votre pseudo : {{user.username}}" [(ngModel)]="updatedUser.username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Changer votre Email : {{user.email}}" [(ngModel)]="updatedUser.email" >
    </div>
    <button class="btn btn-primary" (click)="saveChanges()">Sauvergarder</button>
    <div class="LogoutBtn">
      <a class="Logout" (click)="logout()">Se deconnecter</a>
    </div>
    <hr>
    <div class="LogoutBtn">
      <h2>Abonnements</h2>
    </div>
    <div class="theme-grid">
        <div class="theme-card" *ngFor="let theme of userThemes">
          <h3>{{ theme.title }}</h3>
          <p>{{ theme.description }}</p>
          <button mat-raised-button color="primary"  (click)="unSubscribeTheme(theme.id)" >Se désabonner</button>
        </div>
      </div>
  </div>