<div *ngIf="loadedData">
  <h1><span class="back-arrow" (click)="goBack()">&#8592;</span>  {{postTitle}}</h1>
  <div class="article-structure">
    <div class="article-details">
      <div> {{post.createdAt | date: 'longDate'}} -</div>
      <div>-  {{authorName}} -</div>
      <div>- {{topicName}}</div>
    </div>
    <p class="article-body" [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.article)">

    </p>

    <div class="article-line"><hr /></div>
    <div>{{ "article.comments" | transloco }}</div>
    <br/>
    <div  *ngFor="let comment of comments">
      <app-comment class="article-comment" [comment]="comment"></app-comment>
    </div>
    <form class="article-comment-form" [formGroup]="commentForm" (ngSubmit)="SendComment()">
      <app-comment-form  [commentFormControl]="commentTextFormControl" [errorMessage]="'article.commentError' | transloco"></app-comment-form>
      <button class="article-comment-send" mat-icon-button type="submit">
        <img src="/assets/images/icons/send.svg" alt="send" class="article-comment-send-icon">
      </button>
    </form>
  </div>
</div>
