<div class="header-auth">
  <button class="bg-transparent" mat-icon-button  (click)="goHome()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <img class="img-login-mobile" src="assets/logo_p6.png">
  <h3>
    Se connecter
  </h3>
</div>
<form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-card-content fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="column">
      <mat-label>E-mail ou nom d'utilisateur</mat-label>
      <mat-form-field class="input-auth" appearance="outline">
        <input matInput formControlName="login">
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-label>Mot de passe</mat-label>
      <mat-form-field appearance="outline">
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
  </mat-card-content>
  <div fxLayout fxLayoutAlign="center center">
    <button class="skyblue-button" mat-raised-button type="submit" [disabled]="form.invalid">Se connecter</button>
  </div>
  <p *ngIf="onError" class="error">{{errorMessage}}</p>
</form>
