<div class="m3">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button (click)="back()">
          </button>
          <h1>Profil utilisateur</h1>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div *ngIf="user" fxLayout="column" fxLayoutAlign="start center">
          <p>Name: {{ user.firstName }}</p>
          <p>Email: {{ user.email }}</p>
        </div>
      </mat-card-content>
    </mat-card>
        <h1>Abonnements</h1>
          <mat-card class="item" *ngFor="let theme of themes$" fxFlex>
            <mat-card-header>
              <mat-card-title>
                {{ theme.titre}}
              </mat-card-title>
              <mat-card-subtitle>
                {{ theme.description}}
              </mat-card-subtitle>
            </mat-card-header>
            </mat-card>
  </div>
