<div>
  <h1><span class="back-arrow" (click)="goBack()">&#8592;</span>  {{post.title}}</h1>
  <div class="article-structure">
    <div class="article-details">
      <div> {{post.createdAt}}</div>
      <div> {{post.authorId ? (mddUserService.getUserById(post.authorId) | async) : "Author"}}</div>
      <div> {{post.topicId ? (topicService.getTopic(post.topicId) | async) : "Topic"}}</div>
    </div>
    <p class="article-body">
      {{post.article}}
    </p>

    <div class="article-line"><hr /></div>
    <div>{{ "article.comments" | transloco }}</div>
    <br/>
    <div class="article-comment" *ngFor="let comment of comments">
      <div class="article-comment-author">{{"Author"}}</div>
      <mat-card >
        <mat-card-content class="article-comment-text" >{{comment.text}}</mat-card-content>
      </mat-card>
    </div>
  </div>

  <app-comment-form [commentFormControl]="commentTextFormControl"></app-comment-form>
</div>
