<div class="m3">
  <mat-card>
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Profil utlisateur</h1>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="user" fxLayout="column" fxLayoutAlign="start center">
        <form class="me-form" [formGroup]="form" (ngSubmit)="submit()">
          <mat-card-content fxLayout="column">
            <mat-form-field fxFlex>
              <input matInput placeholder="Nom d'utilisateur" formControlName="username" [(ngModel)]="user.username">
            </mat-form-field>
            <mat-form-field fxFlex>
              <input matInput placeholder="Email" formControlName="email" [(ngModel)]="user.email">
            </mat-form-field>
          </mat-card-content>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Sauvegarder</button>
          <p *ngIf="onError" class="error">An error occurred</p>
        </form>
        <button mat-raised-button (click)="logout()" class="link">Se déconnecter</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
