<!-- login.component.html -->
<app-navbar></app-navbar>
<div class="back-button" (click)="goBack()">&#8592;</div> 
<div class="login-container">
    <img src="/assets/logo_p6.png" alt="logo" />
    <h2>Se connecter</h2>
    <div class="form-group">
      <label for="email">E-mail ou nom d'utilisateur :</label>
      <input type="email" id="email" name="email"  [(ngModel)]="formData.email">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" name="password"   [(ngModel)]="formData.password">
    </div>
    <button  mat-raised-button color="primary" (click)="login()">Se connecter</button>
  </div>
  