.item {
     background-color: rgb(243, 243, 243);
    //  display: inline-flex; 
    //  flex-flow: row wrap;
    // height: 100%;
    // max-width: 300px;
    // margin-bottom: 50px;
    // float: left;
}

.fleche {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
}

.button {
    display: flex;
    justify-content: left;
    margin-bottom: 5px;
}

h3 {
    font-weight: bold ;
}

