<div class="list">
    <br>
    <div class="col-sm-6">
        <button mat-raised-button color="primary" routerLink="/article/create" role="button">Créer un article</button>
    </div>
    <div class="col-sm-6">
        <p>Trier par</p>
        <button mat-icon-button (click)="onDownClick()">
            <mat-icon class="my-icon">arrow_circle_down</mat-icon>
        </button>
        <button mat-icon-button (click)="onUpClick()">
            <mat-icon class="my-icon">arrow_circle_up</mat-icon>
        </button>
        <br>
    </div>
    <mat-card *ngIf="!ascending">
        <div class="items mt2" fxLayout="row wrap" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let article of (articles$ | async)"
                [routerLink]="['/article/detail',article.articleId]" fxFlex>
                <mat-card-header>
                    <mat-card-title>
                        {{ article.titre }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ article.createdAt | date: 'longDate' }}
                        {{ article.auteur }}
                    </p>
                    <p>
                        {{ article.description }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
    <mat-card *ngIf="ascending">
        <div class="items mt2" fxLayout="row wrap" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let article of (articlesAsc$ | async)"
                [routerLink]="['/article/detail',article.articleId]" fxFlex>
                <mat-card-header>
                    <mat-card-title>
                        {{ article.titre }}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ article.createdAt | date: 'longDate' }}
                        {{ article.auteur }}
                    </p>
                    <p>
                        {{ article.description }}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>