<!-- Conteneur principal pour le contenu de la page -->
<div class="container">
  <button mat-raised-button color="primary" (click)="redirectToCreateArticle()" class="putArticleBtn">Créer un article</button>
  <div class="article-container">
      <div class="row">
          <div class="column" *ngFor="let article of articles">
              <div class="article">
                  <h2>{{ article.title }}</h2>
                  <p class="description">{{ article.description }}</p>
                  <p>Auteur: {{ article.author.username }}</p>
              </div>
        </div>
    </div>
  </div>
</div>
