.container {
  padding: 2%;
}

.theme-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Toujours deux colonnes sur les écrans larges */
  gap: 20px;
}

.theme-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.theme-card h3, 
.theme-card p {
  text-align: left;
  margin: 0;
}

.theme-card h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.theme-card p {
  margin-bottom: 20px;
}

.theme-card button {
  margin-top: auto;
  align-self: center;
}

@media (max-width: 767px) {
  .theme-grid {
    grid-template-columns: 1fr; /* Une seule colonne sur les écrans plus petits */
  }

  .theme-card {
    width: 85%;
  }
}
