<nav class="navbar">
    <div class="logo">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <img src="/assets/logo_p6.png" alt="logo" width="100" />
    </div>
    <!-- Bouton burger visible seulement en version mobile -->
    <button class="burger-menu" (click)="toggleMenu()" *ngIf="isResponsiveView">☰</button>
    <div class="menu" [ngClass]="{'active': isMenuOpen}">
        <ul *ngIf="!isLoginPage && !isRegisterPage">
            <li class="top-right" *ngIf="isLoggedIn">
                <a routerLink="/article" routerLinkActive="active-link" (click)="toggleMenu()">Articles</a>
            </li>
            <li class="top-right" *ngIf="isLoggedIn">
                <a routerLink="/themes" routerLinkActive="active-link" (click)="toggleMenu()">Thèmes</a>
            </li>
        </ul>
        <div class="avatar" *ngIf="isLoggedIn">
            <img src="/assets/user.png" (click)="toggleMenu()" routerLink="/profile" alt="avatar" width="50" />
        </div>
    </div>
</nav>
