// Styles pour le conteneur d'inscription
.register-container {
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button {
  font-size: 50px;
  cursor: pointer;
  color: black;
  margin: 20px 0;
  text-align: left;
  width: 100%;
  padding-left: 30px;
  padding-top: 20px;
  font-weight: 100;
}

.back-button:hover {
  text-decoration: none;
  opacity: 0.8;
}

img {
  width: 100px; /* Ajustez la taille de l'image selon vos préférences */
  height: auto; /* Pour conserver les proportions de l'image */
  margin-bottom: 20px;
}

.logo-mobile {
  display: none;
}

.form-group {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

label {
  display: block;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
}

button:hover {
  background-color: #270153;
}

// Media query pour les écrans jusqu'à 600px de large
@media screen and (max-width: 600px) {
  .register-container {
    width: 80%;
  }

  .navbar {
    display: none; /* Masquer la navbar sur mobile */
  }

  /* Rendre l'image visible uniquement sur mobile */
  .logo-mobile {
    display: block;
    width: 100%;
  }

  img {
    margin-bottom: 0px;
  }
}

// Media query pour les écrans de 601px à 1024px de large
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .register-container {
    width: 60%; /* Réduire la largeur du conteneur */
  }

  .logo-mobile {
    display: none; /* Forcer le masquage de l'image sur desktop */
  }
}
