<div class="create m3">
    <mat-card>
      <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button routerLink="/list">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </mat-card-title>
      <mat-card-content *ngIf="articleForm">
        <form class="mt2" fxLayout="column" [formGroup]="articleForm" (ngSubmit)="submit()">
            <mat-form-field appearance="outline">
              <mat-label>Theme</mat-label>
              <select matNativeControl formControlName="theme_id" id="theme_id">
                <option *ngFor="let theme of (themes$ | async)" [value]="theme.themeId">
                  {{theme.titre}}
                <option>
                </select>
              </mat-form-field>
            <mat-form-field appearance="outline" class="" fxFlex>
             <mat-label>Titre</mat-label>
              <input matInput formControlName="titre">
            </mat-form-field>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>Contenu</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">
              Save
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  