.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.link {
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.link+.link {
  margin-left: 10px;
}


.logo {
  height: 40%;
  width: 10%;
}

.icon {
  height: 100%;
  width: 50%;
}

.tool {
  background-color: white;
}