<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <div class="menu hamburger-menu" *ngIf="$isLogged() | async;">
      <div fxLayout="column" fxLayoutAlign="end end" class="mb-auto">
        <a routerLink="posts">Articles</a>
        <a routerLink="topics">Thèmes</a>
      </div>
      <a class="me-link" routerLink="me"><mat-icon>account_circle</mat-icon></a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app">
      <mat-toolbar
        *ngIf="currentRoute != '/'"
        [ngClass]="{'toolbar-auth': currentRoute == '/register' || currentRoute == '/login'}"
        fxLayout="row"
        fxLayoutAlign="end center"
      >
        <img class="img-toolbar" src="assets/logo_p6.png" width="100">
        <div fxLayoutAlign="end center" class="menu toolbar-menu" *ngIf="$isLogged() | async;">
          <a routerLink="posts">Articles</a>
          <a routerLink="topics">Thèmes</a>
          <a class="me-link" routerLink="me"><mat-icon>account_circle</mat-icon></a>
        </div>
        <a class="hamburger-button" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></a>
      </mat-toolbar>
      <div
        fxLayout
        fxLayoutAlign="center center"
        *ngIf="currentRoute == '/'"
      >
        <img class="img-home" src="assets/logo_p6.png">
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
