<div class="login-layout">

  <h1 class="mat-h1">{{ "login.signin" | transloco }}</h1>

  <form class="form-layout" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field class="single-word" >
      <mat-label>{{ "login.mail" | transloco }}</mat-label>
      <input
        class="form-field"
        matInput
        formControlName="username"
        (change)="handleChange()"
      >
    </mat-form-field>

    <mat-form-field class="single-word"  >
      <mat-label>{{ "login.password" | transloco }}</mat-label>
      <input
        class="form-field"
        matInput
        formControlName="password"
        type="password"
        (change)="handleChange()"
      >
    </mat-form-field>

    <button mat-raised-button color="accent" class="login-button" type="submit"> {{ "login.signin" | transloco }} </button>

  </form>
</div>
