<div class="m3">
    <mat-card class="col-sm-12">
        <div fxLayout="row wrap" fxLayout.lt-md="column">
            <mat-card class="item" fxFlex>
                <mat-card-title>
                    {{ article?.titre }}
                </mat-card-title>
                <mat-card-content>
                    <!-- <div fxLayout="column" fxLayoutAlign="start center"> -->
                        <p>
                            {{ article?.createdAt | date: 'longDate' }}
                            {{ article?.auteur }}
                            {{ article?.theme?.titre}}
                        </p>
                        <p>
                            {{ article?.description }}
                        </p>
                    <!-- </div> -->
                </mat-card-content>
            </mat-card>
            <mat-card class="col-sm-12">
                <mat-card-title>
                    <h2>Commentaires</h2>
                </mat-card-title>
                <mat-card-subtitle *ngFor="let comment of comments ">
                    <p>
                        {{comment.auteur }}
                        <mat-card class="comment">
                            {{comment.commentaire }}
                        </mat-card>
                    </p>
                </mat-card-subtitle>
                    <mat-card>
                        <div class="card-footer text-muted">
                    <form [formGroup]="commentForm" (ngSubmit)="submit()" fxLayout="column">
                        <textarea matInput placeholder="Ecrivez ici votre commentaire" rows="6" formControlName="commentaire"></textarea>
                        <div fxLayout="row" fxLayoutAlign="end center" class="mt2">
                            <button class="btn" mat-raised-button type="submit">
                                <img src="/assets/send-icon.png" width="90" height="90" alt="submit"></button>
                        </div>
                    </form>
                </div>
                </mat-card>
            </mat-card>
        </div>
