/* You can add global styles to this file, and also import other style files */

$primary : #7763C5;
$secondary : #6C5CCF;
$danger : #A40F0F;

html, body { height: 100%; }
  body { margin: 0; font-family: Inter; }
.skyblue-button{
  font-weight: bold;
  background: $primary;
  background: $primary;
  color: white;
}
.active-link{
  color: $secondary!important;
}
.mat-form-field-outline{
  color: $secondary!important;

}
a{
  text-decoration: none!important;
}
.bg-transparent {
  background-color: transparent !important;
}
.img-toolbar{
  margin-right: auto;
}
.hamburger-button{
  display: none;
}
hr{
  width: 80%;
  margin: 24px auto 24px auto;
}
mat-toolbar{
  background: white!important;
  padding: 50px!important;
}
.menu a{
  color: black;
  text-decoration: none;
}
.me-link{
  color: #D9D9D9!important;
  mat-icon{
    font-size: 48px;
    height: 48px;
    width: 48px;
  }
}
.mb-auto{
  margin-bottom: auto;
}
.hamburger-menu{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  a{
    margin-right: 10px;
    &:nth-child(1){
      margin-top: 36px;
      margin-bottom: 16px;
    }
    &:nth-child(3){
      align-self: end;
    }
  }
}
.toolbar-menu a{
  &:nth-child(1),&:nth-child(2){
    margin-right: 24px;
  }
}
.error{
  text-align: center;
  color: red;
  font-weight: bold;
}
.img-login-mobile{
  display: none;
  width: 350px;
  @media (max-width: 599px) {
    display: block;
  }
}
.post-details{
  > *{
    margin-right: 20px;
  }
}
.create-comment .mat-form-field{
  width: calc(100% - 36px);
  margin: 12px 10px 0px 0px;

}
.comment{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4px;
}
.form-valid-icon-create-comment{
  color: $primary;
}
.not-found-title{
  text-align: center;
  width: 100%;
}
.btn-submit-comment{
  transform: rotate(-45deg);
  .mat-icon{
    cursor: pointer;
    width: 36px;
    height: 36px;
    font-size: 36px;
  }

}
.comments{
  width: 80%;
  margin: 12px auto auto auto;
}
.header-arrow{
  display: flex;
  flex-direction: column;
  align-items: center;
  .mat-icon-button{
    align-self: flex-start;
  }
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
.mat-sidenav-container {
  height: 100%;
}
.comment-details{
  width: 100px;
  margin-right: 12px;
}
.comment-content{
  padding: 20px;
  flex-grow: 1;
  background-color: #F5F5F5 !important;
}
.mat-sidenav {
  width: 250px;
}

.mat-nav-list a {
  color: #555;
  text-decoration: none;
}
.mat-raised-button{
  width: 130px!important;
}
.home-buttons {
  &:first-of-type {
    margin-right: 24px;
    @media (max-width: 599px) {
      margin-right: unset;
    }
  }
  &:nth-of-type(2) {
    margin-left: 24px;
    @media (max-width: 599px) {
      margin-left: unset;
      margin-top: 24px;
    }
  }
}
.create-post{
  padding: 50px;
}
.sort-posts-link{
  cursor: pointer;
}
#post-author,#post-date{
  text-align: left;
  width: 50%;
}
.flexbox{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px!important;
  .title{
    margin-bottom: 15px;
  }
  .flex-element{
    color: black!important;
    background-color: #F5F5F5!important;
    flex-basis: calc(50% - 40px);
    margin: 10px;
    padding: 10px;
  }
  .flex-element:only-child{
    flex-basis: 100% !important;
    margin:0px!important;
  }
  .title{
    font-weight: bold;
  }
  .flex-element button{
    align-self: center;
  }
}
.logout{
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  color : $danger;
}
.post-data{
  margin-left: 40px;
}
.header-me{
  width: 100%;
  text-align: center;
}
.me-button {
  margin-bottom: 8px!important;
}
@media (max-width: 599px) {
  .flexbox{
    flex-direction: column;
    .flex-element{
      flex-basis: 100% !important;
      margin-right: unset!important;
    }
  }
  .img-home{
    width: 350px;
  }
  mat-toolbar{
    padding: 0px;
  }
  .toolbar-menu{
    display: none!important;
  }
  .hamburger-button{
    display: block;
  }
  .toolbar-auth{
    display: none!important;
  }
}

