/* You can add global styles to this file, and also import other style files */

$skyblue : #7550EC;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.skyblue-button{
  font-weight: bold;
  background: $skyblue;
  color: white;
}
.bg-transparent {
  background-color: transparent !important;
}
.img-toolbar{
  margin-right: auto;
}
.hamburger-button{
  display: none;
}
hr{
  width: 80%;
  margin: 24px auto 24px auto;
}
mat-toolbar{
  background: white!important;
  padding: 50px!important;
  border: 1px solid black;
}
.menu a{
  color: black;
  text-decoration: none;
}
.me-link{
  color: gray!important;
  mat-icon{
    font-size: 48px;
    height: 48px;
    width: 48px;
  }
}
.mb-auto{
  margin-bottom: auto;
}
.hamburger-menu{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  a{
    margin-right: 10px;
    &:nth-child(1){
      margin-top: 36px;
      margin-bottom: 16px;
    }
    &:nth-child(3){
      align-self: end;
    }
  }
}
.toolbar-menu a{
  &:nth-child(1),&:nth-child(2){
    margin-right: 24px;
  }
}
.error{
  text-align: center;
  color: red;
  font-weight: bold;
}
.img-login-mobile{
  display: none;
  width: 350px;
  @media (max-width: 599px) {
    display: block;
  }
}
.header-auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  .mat-icon-button{
    align-self: flex-start;
  }
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 250px;
}

.mat-nav-list a {
  color: #555;
  text-decoration: none;
}
.mat-raised-button{
  width: 130px!important;
}
.home-buttons {
  &:first-of-type {
    margin-right: 24px;
    @media (max-width: 599px) {
      margin-right: unset;
    }
  }
  &:nth-of-type(2) {
    margin-left: 24px;
    @media (max-width: 599px) {
      margin-left: unset;
      margin-top: 24px;
    }
  }
}
.subscriptions-user{
  display: flex;
  padding: 20px;
  .mat-card{
    width: 50%;
    margin-right: 6px;
    &:last-of-type{
      margin-right: unset!important;
    }
  }
  .mat-card-title{
    font-weight: bold;
  }
  .mat-card-header-text{
    margin-left: unset!important;
  }
  mat-card button{
    align-self: center;
  }
}
.logout{
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
}
.header-me{
  width: 100%;
  text-align: center;
}
.me-button {
  margin-bottom: 8px!important;
}
@media (max-width: 599px) {
  .subscriptions-user{
    flex-direction: column;
    .mat-card{
      width: unset!important;
      margin-bottom: 6px;
      margin-right: unset!important;
      &:last-of-type{
        margin-bottom: unset!important;
      }
    }
  }
  .img-home{
    width: 350px;
  }
  mat-toolbar{
    padding: 0px;
  }
  .toolbar-menu{
    display: none!important;
  }
  .hamburger-button{
    display: block;
  }
  .toolbar-auth{
    display: none!important;
  }
}

