<div class="center">
  <img mat-card-image src="/assets/logo_p6.png" alt="logo" [width]="412" [height]="238" priority />
  <div class="btn-toolbar" style="padding-left: 50px" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div>
      <button type="button" class="btn btn-outline-dark" routerLink="/login" mat-raised-button>Se connecter</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-dark" routerLink="/register" mat-raised-button>S'inscrire</button>
    </div>
  </div>
</div>