.margin-for-top{
  margin-top: 3vh;
}

.card{
  margin-bottom: 3vh;
  &:hover{
    cursor: pointer;
  }
}

.article-preview{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}
